# temp files
.DS_Store
.tmp
.sass-cache

# npm & bower
/node_modules/
/app/bower_components/

# custom gulp settings
/gulp/.gulp_settings.json

# ionic fonts
/app/main/assets/fonts/ionicons.*

# cordova
/platforms/
/plugins/
/res/*/current/

# build folder
/www/**

# IDE
*.sublime-project
*.sublime-workspace

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm

*.iml

# User-specific stuff:
 .idea/workspace.xml
 .idea/tasks.xml
 .idea/dictionaries
 .idea/shelf
workspace.xml
